{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- site description -->
    <title>플로우차트</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script src="{% static 'jquery-ui/jquery-ui.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script src="{% static 'js/jquery.flowchart.js' %}"></script>
    <script src="{% static 'js/flowchart_utils.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'jquery-ui/jquery-ui.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'jquery-ui/jquery-ui.structure.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'jquery-ui/jquery-ui.theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.flowchart.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">


    <!-- bootstrap -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->


    {% block header %}
    {% endblock %}


    <script>

    {% block script %}
    {% endblock %}

    $(document).ready(function(){

        {% block domready %}
        {% endblock %}

        {% comment %}
            {% for message in messages %}
                alert('{{message}}');
            {% endfor %}
        {% endcomment %}

    });
    </script>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
